.login-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login-sec-cont {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 50px;
  min-width: 500px;
}
.login-sec-cont h1 {
  font-weight: 700;
}
.form-log {
  display: flex;
  flex-direction: column;
}
.form-log div {
  /* margin: 10px; */
}

.link {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
